.btn-secondary:hover {
    background-color: #ffe843 !important;
}

.mr-auto, .mx-auto {
    margin-right: 47vw !important;
}

.navbar-brand {
    margin-right: 3rem !important;
}

.text-baloo {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 22pt;
}

.text-button {
    font-family: 'Baloo Tamma 2', cursive;
}

.wallp-width {
    width: 10vw;
}