.btn-primary {
    background-color: #f1d92f !important;
    border-color: #000000 !important;
}

.btn-primary:hover {
    background-color: #dcc100 !important;
}

.button-home {
    display: flex;
    justify-content: center;
}

.poke-display {
    margin-left: 296px !important;
}

.btn-poke-cards {
    margin-top: 10px !important;
}

.text-baloo {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 32pt;
    display: flex;
    justify-content: center;
    padding: 10px;
}