.card-body {
    display: flex;
    justify-content: center;
}

.mt-10 {
    margin-top: 10px;
}

.text-baloo {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 32pt;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.text-cards {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 16pt;
    padding: 10px;
    color: white
}