.btn-back-pokemons {
    margin-top: 10px;
}

.btn-secondary:hover {
    background-color: #ffe843 !important;
}

.table {
    width: 60% !important;
}

.text-baloo {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 32pt;
    padding: 10px;
}